

:root {
        --primary-color: #351431;
        --secondary-color: #775253;
        --accent1-color: #BDC696;
        --accent2-color: #D1D3C4;
        --heading-font: 'Roboto';
        
        --paragraph-font:'open(sans)';
        

      }
h1, h2 ,h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var( --accent1-color);
}

p {
  padding: 25px;

}

.social-media-link a {
  text-decoration: none;
  }

.social-media-link img {
  width: 60px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 100%;
  height: auto;
}





h1 {
  position: absolute;
  top: 0rem;
  background-color: rgba(20, 24, 53, 0.3);
}


.div-hero {
  position: relative;
}


.hero article img {
  width: 200px;
  float: right;

}

.hero article {
  position: absolute;
  max-width: 80%;
  top: 4rem;
  background-color: rgb(53, 20, 49, .3 );
}








      


      
      

      
      