@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body {
    font-family: roboto;
    max-width: 960px;
    padding: 20px;
}


:root {
    --primary-color: #351431;
    --secondary-color: #775253;
    --accent1-color: #BDC696;
    --accent2-color: #D1D3C4;

    --heading-font: 'Roboto';
    --paragraph-font:'open(sans)';
    --nav-background-color: #351431;
    --nav-link-color: #775253;
    --nav-hover-link-color: #DCC696;
    --nav-hover-background-color: #D1D3C4;


}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
   padding: 25px;
}
nav {
    background-color:var(--av-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
   display: block;
   color: var(--nav-link-color);
   text-decoration: none;
   padding:1rem;
}
 nav a:link, nav a:visited {
    color: var(--nav-link-color);
 }

nav a:hover {
    color: var( --nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}