* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #5D70FC;
    color:white;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

main img {
    /* other declaration made to my image */
    float: right;
}
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}